section {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 70%;
    margin-left: 15%;
}
section > h1 {
    font-size: 25px;
}
section > p {
    font-size: 20px;
}
.from {
    display: flex;
    justify-content: space-around;
}
.to {
    display: flex;
    justify-content: space-around;
}